<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.SignalR.Client" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.9" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Outlook" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.1.1" targetFramework="net48" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net48" />
  <package id="MimeKit" version="2.9.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net48" />
  <package id="RestSharp" version="106.11.7" targetFramework="net48" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Http" version="7.2.0" targetFramework="net48" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.RollingFile" version="3.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.SignalR" version="2.0.10" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
</packages>